header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

header h2 {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 5px;
}

.input {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    border-color: rgb(15, 138, 15);
    border-width: 2px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.btn {
    width: 25%;
    border-color: rgb(15, 138, 15);
    border-width: 3px;
    background-color: rgba(163, 149, 17, 0.795);
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

#clear {
    background-color: rgb(255, 98, 98);
}

#delivery {
    background-color: royalblue;
}

#close {
    padding-top: 0px;
    padding-bottom: 0px;
}

.buttons {
    justify-content: center;
}

button {
    margin: 10px;
}

.output {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
}

footer h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

@media screen and ( max-width: 1024px ) {
    img.responsive { width: 200px; }
    }
    @media screen and ( min-width: 1025px) {
    img.responsive { width: 300px;}
    }
    img.responsive { height: auto; }
    .btn {
        font-size: small;
    }